######################################################################
# Auto detect text files and perform LF normalization
######################################################################
* text=auto

######################################################################
# Explicitly declare CRLF normalization for the following files
######################################################################

*.html		text eol=crlf
*.js		text eol=crlf
*.css		text eol=crlf
*.tex		text eol=crlf
*.eps		text eol=crlf
